/* https://github.com/rafaelmardojai/firefox-gnome-theme/blob/master/theme/colors/light.css */
/* https://github.com/rafaelmardojai/firefox-gnome-theme/blob/master/theme/colors/dark.css */

:root {
  /* Colors */
  --gnome-warning-bg: #{{base0E-hex}};

  /* Window */
  --gnome-window-background: #{{base00-hex}};
  --gnome-window-color: #{{base05-hex}};
  --gnome-view-background: #{{base00-hex}};
  --gnome-sidebar-background: #{{base01-hex}};
  --gnome-secondary-sidebar-background: #{{base01-hex}};

  /* Card */
  --gnome-card-background: #{{base01-hex}};

  /* Menu */
  --gnome-menu-background: #{{base01-hex}};

  /* Headerbar */
  --gnome-headerbar-background: #{{base00-hex}};

  /* Toolbar */
  --gnome-toolbar-icon-fill: #{{base05-hex}};

  /* Tabs */
  --gnome-tabbar-tab-hover-background: color-mix(in srgb, #{{base01-hex}}, #{{base02-hex}} 75%);
  --gnome-tabbar-tab-active-background: #{{base02-hex}};
  --gnome-tabbar-tab-active-background-contrast: #{{base02-hex}};
  --gnome-tabbar-tab-active-hover-background: color-mix(in srgb, #{{base02-hex}}, #{{base03-hex}} 25%);

  /* Private Tabs */
  --gnome-private-wordmark: #{{base04-hex}};
  --gnome-private-in-content-page-background: #{{base00-hex}};
  --gnome-private-text-primary-color: #{{base04-hex}};
}