/* Add missing UserContent.css colors */
:root {
	/* New Tab */
	--gnome-window-background: #282c34 !important;
	--gnome-menu-background: #353b45 !important;
	/* Private Browsing */
	--gnome-private-in-content-page-background: #282c34 !important;
	--gnome-private-text-primary-color: #565c64 !important;
	--gnome-private-wordmark: #565c64 !important;
}

/* Hide search bar and info container in private browsing */
@-moz-document url("about:privatebrowsing") {
	#search-handoff-button {
		display: none !important;
	}
	.showPrivate.showSearch.container .info {
		display: none !important;
	}
}