# vim:ft=kitty

## name: {{scheme-name}}
## author: {{scheme-author}}

#: The basic colors

background                      #{{base00-hex}}
foreground                      #{{base05-hex}}
selection_background            #{{base03-hex}}
selection_foreground            #{{base05-hex}}

#: Cursor colors

cursor                          #{{base05-hex}}
cursor_text_color               #{{base00-hex}}

#: URL underline color when hovering with mouse

url_color                       #{{base04-hex}}

#: kitty window border colors

active_border_color             #{{base03-hex}}
inactive_border_color           #{{base01-hex}}

#: OS Window titlebar colors

wayland_titlebar_color          #{{base00-hex}}
macos_titlebar_color            #{{base00-hex}}

#: Tab bar colors

active_tab_background           #{{base00-hex}}
active_tab_foreground           #{{base05-hex}}
inactive_tab_background         #{{base01-hex}}
inactive_tab_foreground         #{{base04-hex}}
tab_bar_background              #{{base01-hex}}

#: The basic 16 colors

#: black
color0                          #{{base00-hex}}
color8                          #{{base03-hex}}

#: red
color1                          #{{base08-hex}}
color9                          #{{base08-hex}}

#: green
color2                          #{{base0B-hex}}
color10                         #{{base0B-hex}}

#: yellow
color3                          #{{base0A-hex}}
color11                         #{{base0A-hex}}

#: blue
color4                          #{{base0D-hex}}
color12                         #{{base0D-hex}}

#: magenta
color5                          #{{base0E-hex}}
color13                         #{{base0E-hex}}

#: cyan
color6                          #{{base0C-hex}}
color14                         #{{base0C-hex}}

#: white
color7                          #{{base05-hex}}
color15                         #{{base07-hex}}
