/**
 * @name Adblock for Discord
 * @author TheSunCat and contributors
 * @version 1.5.0
 * @description Hide all Nitro & Boost upsells on Discord!
 * @source https://codeberg.org/AllPurposeMat/Disblock-Origin
 */

@import url('https://raw.codeberg.page/AllPurposeMat/Disblock-Origin/DisblockOrigin.theme.css');

:root {
  --display-badges: none;                             /* Nitro and Booster badges on user profiles */
  --display-gif-button: none;                         /* GIF button in chat bar */
  --display-sticker-button: none;                     /* Sticker button in chat bar */
  --display-emoji-button: unset;                      /* Emoji button in chat bar */
  --display-hover-reaction-emoji: none;               /* Emoji suggestions on message hover */
  --display-app-launcher: none;                       /* App launcher right of chat bar */
  --bool-super-reaction-hide-anim: true;              /* Replace Super Reactions with a blink animation */
  --display-super-reactions: none;                    /* Hide super reactions entirely */
  --display-profile-effects: none;                    /* Avatar decorations & profile effects */
  --display-nameplates: none;                         /* Hide nameplates in the members list */
  --display-active-now: none;                         /* Active Now column in friends list */
  --display-clan-tags: none;                          /* Clan tags next to the usernames */
  --display-server-settings-boost-tab: none;          /* Server settings menu Boost tab */
  --bool-show-name-gradients: false;                  /* Gradients & glow in usernames, boosted servers only */
  --display-server-members-activity: none;            /* Hide servers members activity list */
  --bool-show-profile-banner: false;                  /* Show profile banner */
  --bool-show-server-banners: false;                  /* Show server banners in the channel list */
  --bool-show-profile-modal-background-banner: false; /* Show profile modal background banner */

  --display-settings-billing-header: none;            /* Settings menu Billing Settings header */
  --display-settings-nitro-tab: none;                 /* Settings menu Nitro tab */
  --display-settings-server-boost-tab: none;          /* Settings menu Server Boost tab */
  --display-settings-subscriptions-tab: none;         /* Settings menu Subscriptions tab */
  --display-settings-gift-inventory-tab: none;        /* Settings menu Gift Inventory tab */
  --display-nitro-features: none;                     /* Settings menu Billing tab, Super React toggle, GIF Avatar */
}
